body {
    font-family: Arial, sans-serif;
    background: url('/static/images/bg.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    width: 450px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 120px;
    margin-bottom: 15px;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 30px;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: black; 
}

.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #555; 
}

.input-group select option:first-child {
    color: #999;  
}

.input-group select option {
    color: black; 
}

.input-group select option:disabled {
    color: #999;  
}

.input-group select {
    -webkit-appearance: none; 
    -moz-appearance: none;  
    appearance: none;        
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M12.5 6l-4 4-4-4" fill="none" stroke="%23333" stroke-linecap="round" stroke-linejoin="round"/></svg>'); 
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}


.btn-signup {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #2fc9fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-signup:hover {
    background-color: #1596b7;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #2fc9fc;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
